		h2 {
			text-align: center;
			background-color: yellow;
		}
		.container{text-align: center;}
		.imgcontainer {
			text-align:center;
			background-color: white;
		}
		body {
			background-color: green;
			text-align: center;
		}

